APP_NAME=JameJam
APP_ENV=production
APP_DEBUG=false
APP_URL=https://jamejam-4.onrender.com

APP_LOCALE=fa
APP_FALLBACK_LOCALE=fa

DB_CONNECTION=sqlite

LOG_CHANNEL=stack

SESSION_DRIVER=database
SESSION_LIFETIME=120

CACHE_STORE=database